#bkg-img{
    z-index: 1;
}
#bkg-img::before{
    content: "";
    background-repeat: no-repeat;
    background-image: url("JNjlkP.jpg");

    /*background-image: url("/media/rajaoferason/LENOVO/Mampi/freeCodeCamp/1-Responsive Web Design Certification (300 hours)/8-Responsive Web Design Projects/Build a Survey form/JNjlkP.jpg");
    */
    opacity: 0.9;
    
    
    background-size: 100%;
    position: fixed;
    z-index: -1;
    filter:alpha(opacity=10);
    height:100%;
    width:100%;
    margin-top: -50px;
    margin-bottom: -350px;
    margin-left: -10px;
    margin-right: -10px;
}

.main{
    height: 600px;
    width: 500px;
    background-color: darkslategray  ;
    margin: 40px auto -10px auto;
    opacity: 0.8;
    z-index: -1;
    text-align: center;
    color:white;
  
    
}